.learningNum {
	display: block;
	font-size: 25px;
}

.rankNum {
	position: absolute;
	display: none;
	font-size: 25px;
	left: 100px;
}

h1 {
	position: absolute;
	top: 50px;
	left: 450px;
	font-size:40px;
}

.learning {
	position: absolute;
	top: 10px;
	right: 65px;
}
.learningLabel{
	position: absolute;
	top: 140px;
	left: 510px;
	font-size:30px;

}
.rank{
	position: absolute;
	top: 10px;
	right: 155px;
}
.rankLabel{
	position: absolute;
	top: 140px;
	left: 710px;
	font-size:30px;
}

h2{
	position: absolute;
	top: 200px;
	left: 430px;
	font-size:40px;
}

.category{
	position: absolute;
	top: 300px;
	left: 460px;
}

h3{
	position: absolute;
	top: 350px;
	left: 450px;
	font-size:40px;
}

.num{
	position: absolute;
	top: 450px;
	left: 570px;
	font-size: 25px;
}

.error{
	position: absolute;
	top: 460px;
	left: 570px;
	font-size: 25px;
}

.btn.quiz {
	position: absolute;
	top: 530px;
	left: 610px;
    width: 100%;
    max-width: 150px;
    padding: 15px 10px;
    display: inline-block;
    text-align: center;
    letter-spacing: 0.1em;
    color: #fff;
    background-color: #ff9ca5;
    border: #ff9ca5;
    border-bottom: 5px solid #ff6673;
}
.btn.quiz:active {
		-webkit-transform: translateY(4px);
	transform: translateY(4px); /*下に動く*/
	border-bottom: none; /*線を消す*/
}

/*
body{
	background-color: #d0feff;
}*/


