.btn.admin{

	position: absolute;
}

.btn.warning{

	position: absolute;
}

.btn.quiz{

	position: absolute;
}

.btn.ranking{

	position: absolute;
}

.btn.history{

	position: absolute;
}

.btn.profile{

	position: absolute;
}