.btn.admin {
	position: absolute;
}

.btn.warning {
	position: absolute;
}

.btn.quiz {
	position: absolute;
}

.btn.ranking {
	position: absolute;
}

.btn.history {
	position: absolute;
}

.btn.profile {
	position: absolute;
}

.learningNum {
	display: block;
}

.rankNum {
	display: none;
}

h1 {
	position: absolute;
	top: 20px;
	left: 480px;
	font-size:40px;
}

.learning {
	position: absolute;
	top: 130px;
	left: 480px;
}
.learningLabel{
	position: absolute;
	top: 120px;
	left: 510px;
	font-size:30px;
}
.rank{
	position: absolute;
	top: 130px;
	left: 680px;
}
.rankLabel{
	position: absolute;
	top: 120px;
	left: 710px;
	font-size:30px;
}

h2{
	position: absolute;
	top: 350px;
	left: 20px;
	font-size:40px;
}

.category{
	position: absolute;
	top: 450px;
	left: 20px;
}

h3{
	position: absolute;
	top: 180px;

	font-size:40px;
}