@charset "UTF-8";
/*リタイアボタン*/
nav li {
	/*background-color:#ffdecc ;*/

}

#closeRetired {
	width: 100px;
	height: 40px;
	border-radius: 10px;
	font-size: 13px;
	padding: 5px 10px;
	margin-right: 30px;
	background-color: #6db1ed;
	color: white;
	border: 0px solid #6db1ed;
	border-bottom: 5px solid #467299;
	border-radius: 10px;
	font-weight: 900;
}

/* 問題文・選択肢 */
.main {
	margin: 0 auto;
	text-align: cent;
}

.main pre {
	white-space: pre-wrap;
	width: 100%;
	background: rgb(247 221 223/ 50%);
	font-size: 30px;
	margin-top: 5em;
	padding: 20px;
}

.main .select {
	background: rgb(173 243 243/ 40%);
	margin: 0 auto;
	font-size: 20px;
	width: 50em;
}

input, label {
	cursor: pointer;
}

input {
	margin: 15px 0px;
}

/* 前へ・〇/〇・次へ */
.pageCon button, p {
	display: inline-block;
	padding: 0 2em;
}

.pageCon #next, #return {
	padding: 4px 12px;
	border-radius: 10px;
}

button #next {
	border: 1px #000;
}

.pageCon p {
	text-align: center;
	font-size: 30px;
}

.pageCon {
	margin: 30px;;
	text-align: center;
}

/*モード判断*/
#mode {
	display: none;
}
/*制限時間*/
#timebtn {
	border-radius: 10px;
	font-size: 25px;
	padding: 0px 20px;
	margin-top: 20px;
	background-color: #ec6d71;
	color: white;
	border-bottom: 2px solid rgba(0, 0, 0, 2);
	border-radius: 10px
}

#min, #sec {
	color: red;
	font-weight: bold;
}

.time {
	background-color: silver;
}

/*モーダル*/
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
	background-color: white;
	width: 500px;
	height: 200px;
	border-radius: 20px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	text-align: center;
	padding-top: 30px;
}

#finish {
	width: 100px;
	height: 40px;
	border-radius: 10px;
	font-size: 13px;
	padding: 5px 10px;
	margin-right: 30px;
	background-color: #ec6d71;
	color: white;
	border: 0px solid #ec6d71;
	border-bottom: 5px solid #cc5e62;
	border-radius: 10px;
	font-weight: 900;
}

#closeBtn {
	width: 100px;
	height: 40px;
	width: 100%;
	max-width: 100px;
	padding: 5px 5px;
	display: inline-block;
	text-align: center;
	letter-spacing: 0.1em;
	color: #ffffff;
	background-color: #9ccdff;
	border: 0px solid #66b3ff;
	border-bottom: 5px solid #66b3ff;
	font-size: 13px;
	font-weight: 900;
	border-radius: 10px;
}

/*終了ボタン*/
.finish {
	text-align: center;
}

#finish-btn {
	width: 100%;
	max-width: 160px;
	padding: 5px 5px;
	display: inline-block;
	text-align: center;
	letter-spacing: 0.1em;
	color: #ffffff;
	background-color: #9ccdff;
	border: 0px solid #66b3ff;
	border-bottom: 5px solid #66b3ff;
	font-size: 13px;
	font-weight: 900;
	border-radius: 10px
}

#finish-btn:active {
	-webkit-transform: translateY(4px);
	transform: translateY(4px); /*下に動く*/
	border-bottom: none; /*線を消す*/
	border-radius: 10px;
}

button {
	cursor: pointer;
}

button:hover {
	opacity: 0.8;
}

#closeRetired:active, #timebtn:active, #finish:active, #closeBtn:active,
	#finish-btn:active {
	-webkit-transform: translate(0, 2px);
	-moz-transform: translate(0, 2px);
	transform: translate(0, 2px);
	border-bottom: none;
}

input:hover {
	opacity: 0.8;
}

/*解答詳細*/
.correct {
	color: red;
}

#commentary {
	margin-top: auto;
	background-color: rgba(161, 223, 224, 30%);
}

#back {
	font-weight: bold;
	color: red;
	text-decoration: none;
}
h1,h2{
	text-align:center;
}