@charset "UTF-8";
/*リタイアボタン*/
nav li{
	background-color:rgb(254, 94, 7);
}
#closeRetired{
	border-radius:10px;
	font-size:25px;
	padding:0px 10px;
	background-color:blue;
	color:white;
}

/* 問題文・選択肢 */


.main{
	margin:0 auto;
	text-align:cent
}

.main pre{
	white-space: pre-wrap;
    width:100%;
	background:rgb(247 221 223 / 50%);
	font-size:30px;
    margin-top:5em;
    padding:20px;
}
.main .select{
	background:rgb(173 243 243 / 30%);
	margin:0 auto;
	font-size:20px;
    width:50em;
}

input,label{
	cursor:pointer;
}
input{
	margin:15px 0px;
}

/* 前へ・〇/〇・次へ */
.pageCon button,p{
	display:inline-block;
	padding:0 2em;
}
.pageCon #next,#return{
	padding:4px 12px;
	border-radius:20px;
}
.pageCon p{
	text-align:center;
	font-size:30px;
}
.pageCon {
	margin:30px;;
	text-align:center;
}

/*モード判断*/
#mode{
	display:none;
}
/*制限時間*/
#timebtn{
	border-radius:10px;
	font-size:25px;
	padding:0px 20px;
	margin-top:20px;
	background-color:red;
	color:white;
}
#min,#sec{
	color:red;
	font-weight:bold;
}

.time{
	background-color:silver;
}

/*モーダル*/
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.5);
}
.modal-content{
	background-color: white;
	width: 500px;
	height:200px;
	border-radius:20px;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	margin:auto;
	text-align:center;
	padding-top:30px;
}


#finish{
	border-radius:10px;
	font-size:25px;
	padding:0px 20px;
	margin-right:30px;
	background-color:red;
	color:white;
}
#closeBtn{
	border-radius:10px;
	font-size:25px;
	padding:0px 10px;
	background-color:blue;
	color:white;
}

/*終了ボタン*/
.finish{
	text-align:center;
}
#finish-btn{
	margin-bottom:5%;
	font-size:30px;
	padding:0 1em;
	border-radius:10px;
    background-color:#00008b;
    color:white;
    font-weight:bold;
}
button:hover{
	opacity:0.8;
}
input:hover{
	opacity:0.8;
}

button{
	cursor:pointer;
}

/*ラジオボタン*/
label ~ label {
  margin-left: 30px;
}/* ベースのラジオボタン */

.select input[type=radio] {
  display: none;
}

.select label {
  position: relative;
  padding-left: 25px;
  color: #138eb0;
  z-index: 1;
}

.select input[type=radio]  + label::before,
.select input[type=radio]  + label::after {
  position: absolute;
  content: '';
  display: block;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: #fd0026;
  left: 0;
  top: -3px;
  z-index: -1;
  transform: scale(0, 0);
}

/* 波紋のパート */
.select input[type=radio]  + label::before {
  background: radial-gradient(transparent, #b1ecfc);/*円形グラデーション*/
}

.select input[type=radio]:checked + label::before {
  animation: spread-bubble .8s linear;
  animation-iteration-count: 2;
}

.select input[type=radio]  + label::after {
  background: #fd8297;
  transition: .3s;
  opacity: 0;
}

.select input[type=radio]:checked + label::after {
  transform: scale(1, 1);
  opacity: 1;
}

/* 波紋のアニメーション */
@keyframes spread-bubble {
  0% {
    opacity: 0;
  }
  50% {
    transform: scale(2, 2);
    opacity: 1;
  }
  100% {
    transform: scale(4, 4);
    opacity: 0;
  }
}

/*解答詳細*/
.correct{
	color:red;
}