@charset "UTF-8";
/*リタイアボタン*/
nav li{
	background-color:red;

}


/* 問題文・選択肢 */
body{
	background-color:#a3ffd1;
}

.main{
	margin:0 auto;
	text-align:cent
}

.main pre{
	white-space: pre-wrap;
    width:100%;
	background:#c0c0c0;
	font-size:30px;
    margin-top:5em
}
.main .select{
	padding-top:2em;
	background:#b0c4de;
	margin:0 auto;
	font-size:20px;
    width:50em;
}

input,label{
	cursor:pointer;
}


/* 前へ・〇/〇・次へ */
.pageCon button,p{
	display:inline-block;
	padding:0 2em;
}
.pageCon #next,#return{
	padding:4px 12px;
}
.pageCon p{
	text-align:center;
}
.pageCon {
	margin:0 auto;
	text-align:center;
}

#finish{
	margin-left: 90%;
	margin-bottom:5%;
	font-size:30px;
	padding:0 1em;
	border-radius:10px;
    background-color:#522886;
    color:#f39700;
    font-weight:bold;
}
#finish:hover{
	opacity:0.8;
}

button{
	cursor:pointer;
}

/*制限時間*/
.timeLimit{
	margin-right: 80%;
    color:white;
}




.correct{
	color:red;
}