.arrayContiner li {
    list-style: none;
}

.arrayContiner {
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    margin-left: 10%;
}
.item {
    width: 200px;
    height: 1em;
    padding: 1em;
    margin-top: 10%;
    margin-right: 20%;
    background-color: #ffa500;
    text-align: center;
    border-radius: 40px;
    cursor: pointer;
    font-weight: bold;
	color: white;
	font-size: 1.5em;
}

.item:hover {
	opacity: 0.6;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 4em;
}

.items:after {
    display:block;
}

select {
	overflow: scroll;
}

/*モーダル内のdiv要素を非表示*/
.createQuiz, .editQuiz, .createCategory, .editCategory, .editUser, .editQuizList {
    display: none;
}
#modal-content h3 {
    text-align: center;
    margin-bottom: 10px;
}

.description {
	margin-left: 10%;
}

.description ul{
    margin: auto;
}
.description h3 {
    font-size: 36px;
    margin-bottom: 0.3em;
}
.description li {
    font-size: 30px;
}


#createProblemStatement, #editProblemStatement {
	resize: none;
	width: 100%;
	height: 300px;

}

#createQuizTitle, #editQuizTitle {
	width: 100%;
}

table td {
	width: 100%;
}

#quizListTable td {
	width: auto;
}

#quizListTable {

}



#quizListTable a {
	cursor: pointer;
	color: blue;
}

#createChoice1, #createChoice2, #createChoice3, #createChoice4 {
	width: 100%;
}
#editChoice1, #editChoice2, #editChoice3, #editChoice4 {
	width: 100%;
}


#createCommentary, #editCommentary {
	resize: none;
	width: 100%;
	height: 200px;
}


.btn-continar {
    margin: 10px 10px;
    width: 8em;
    height: 3em;
    border-radius: 20px;
}

.btn-continar:hover {
    opacity: 0.5;
}


.btn-regist, .btn-update {
	background-color: #f26964;
    border:  solid 2px #f26964;
    color: white;
    font-weight: bold;
    font-size: 1em;
}

.btn-return {
	background-color: blue;
    border:  solid 2px blue;
    color: white;
    font-weight: bold;
    font-size: 1em;
}