.btn.login {
    width: 100%;
    max-width: 140px;
    padding: 15px 10px;
    display: inline-block;
    text-align: center;
    letter-spacing: 0.1em;
    color: #000;
    background-color: #fd7e00;
    border: #fd7e00;
    border-bottom: 4px solid #B25D2C;
    border-radius: 20px;
    font-size:20px;
}

.btn.new-update {
    width: 100%;
    max-width: 140px;
    padding: 15px 10px;
    display: inline-block;
    text-align: center;
    letter-spacing: 0.1em;
    color: #000;
    background-color: #5AFF19;
    border: #5AFF19;
    border-bottom: 4px solid #56A742;
    border-radius: 20px;
    font-size:20px;
}

.btn.warning {
    width: 100%;
    max-width: 100px;
    padding: 10px 5px;
    display: inline-block;
    text-align: center;
    letter-spacing: 0.1em;
    color: #fff;
    background-color: #ff111d;
    border: #ff111d;
    border-radius: 20px;
}

.btn.quiz {
    width: 100%;
    max-width: 120px;
    padding: 15px 10px;
    display: inline-block;
    text-align: center;
    letter-spacing: 0.1em;
    color: #fff;
    background-color: #ed576c;
    border: #ed576c;
    border-bottom: 4px solid #b44252;
    border-radius: 20px;
}

.btn.ranking {
    width: 100%;
    max-width: 120px;
    padding: 15px 10px;
    display: inline-block;
    text-align: center;
    letter-spacing: 0.1em;
    color: #fff;
    background-color: #eb45eb;
    border: #eb45eb;
    border-bottom: 4px solid #b635b6;
    border-radius: 20px;
}

.btn.history {
    width: 100%;
    max-width: 120px;
    padding: 15px 10px;
    display: inline-block;
    text-align: center;
    letter-spacing: 0.1em;
    color: #fff;
    background-color: #577aed;
    border: #577aed;
    border-bottom: 4px solid rgb(65, 82, 179);
    border-radius: 20px;
}

.btn.profile {
    width: 100%;
    max-width: 120px;
    padding: 15px 10px;
    display: inline-block;
    text-align: center;
    letter-spacing: 0.1em;
    color: #fff;
    background-color: #39e439;
    border: #39e439;
    border-bottom: 4px solid rgb(27, 187, 61);
    border-radius: 20px;
}

.btn.before-after {
    color: #000;
    background-color: #d9ebff;
    border: #d9ebff;
}

.btn.end {
    width: 100%;
    max-width: 100px;
    padding: 10px 5px;
    display: inline-block;
    text-align: center;
    letter-spacing: 0.1em;
    color: #000;
    background-color: #F5E952;
    border: #F5E952;
    border-bottom: 4px solid #EBA13E;
    border-radius: 20px;
}

.btn.admin {
    width: 100%;
    max-width: 100px;
    padding: 10px 5px;
    display: inline-block;
    text-align: center;
    letter-spacing: 0.1em;
    color: #000;
    background-color: #929292;
    border: #929292;
    border-radius: 20px;
}

.btn.admin.function {
    width: 100%;
    max-width: 120px;
    padding: 15px 10px;
    display: inline-block;
    text-align: center;
    letter-spacing: 0.1em;
    color: #fff;
    background-color: #ff714e;
    border-radius: 20px;
}

.btn.admin.confirm {
    width: 100%;
    max-width: 80px;
    padding: 8px 4px;
    display: inline-block;
    text-align: center;
    letter-spacing: 0.1em;
    color: #fff;
    background-color: #ff0000;
    border-radius: 20px;
}

.btn.admin.back {
    width: 100%;
    max-width: 80px;
    padding: 8px 4px;
    display: inline-block;
    text-align: center;
    letter-spacing: 0.1em;
    color: #fff;
    background-color: #0000ff;
    border-radius: 20px;
}

.btn.back {
    color: red;
}