.btn.admin {
	position: absolute;
}

.btn.warning {
	position: absolute;
}

.btn.quiz {
	position: absolute;
}

.btn.ranking {
	position: absolute;
}

.btn.history {
	position: absolute;
}

.btn.profile {
	position: absolute;
}

.learningNum {
	display: block;
}

.rankNum {
	display: none;
}

h1 {
	position: absolute;
	top: 200px;
}

.learning {
	position: absolute;
	top: 200px;
	left: 500px;
}
.learningLabel{
	position: absolute;
	top: 200px;
	left: 530px;
}
.rank{
	position: absolute;
	top: 200px;
	left: 700px;
}
.rankLabel{
	position: absolute;
	top: 200px;
	left: 730px;
}