
/*html {
	font-size: 20px;
}
*/
/*
body{
	margin-left:35px;
	background-color: #d0feff;
}
*/

.margin{
	/*margin-left:35px;*/
	margin: 80px 350px;
	border:  solid 1px rgb(105, 138, 171);
	background-color: white;
	text-align: center;
}


.login-box {
	margin: 80px 350px;
	border:  solid 1px rgb(105, 138, 171);
	background-color: white;
	text-align: center;
}

.return{
	text-decoration: none;
	color:red;
}

/*
.login{
	margin-left:113px;
}
*/

/*
.user{
	margin-left:76px;
}

.pass{
	margin-left:116px;
}

.pass2{
	font-size: 8px;
	margin-left:3px;
}
*/

/*
.passre{
	margin-left:39px;
}
*/

.txt .error {

	font-size: 5px;
	content: "※";
	color: red;
}

.logoutMsg {
	margin-top:250px;
	text-align: center;
	font-size: 70px;
	font-weight: 100;
}

.DoneMsg {
	text-align: center;
	font-size: 25px;
	font-weight: 100;
}

.error2{
	/*margin-left: 150px;*/
	text-align: center;
}
/*
.btn {
	float: left;
	margin: auto;
	margin-right: 37px;
	text-align: center;
}
*/

.btn2{
	margin-left: 520px;
}
.btn3{
	margin-left: 250px;
}

.new-user {
	margin: auto;

}
/*
.new-user-config {
	margin:auto;
}
*/

/*
.clear{
	clear: both;
	text-align: center;
}
*/
/*
.font{
	font-size:25px;
}
*/
.txt{
	width:250px;
	height:23px;
}