html {
	font-size: 20px;
}
body{
	margin-left:35px;
}

.return{
	text-decoration: none;
	color:red;
}

.login{
	margin-left:36px;
}

.pass{
	margin-left:39px;
}

.pass2{
	margin-left:3px;
}

.error {
	content: "※";
	color: red;
}

.logoutMsg {
	text-align: center;
	font-size: 70px;
	font-weight: 100;
}

.DoneMsg {
	text-align: center;
	font-size: 70px;
	font-weight: 100;
}

.error2{
	margin-left: 150px;
}

.btn {
	float: left;
	margin-right: 115px;
}
.btn2{
	margin-left: 437px;
}
.btn3{
	margin-left: 250px;
}
.clear{
	clear: both;
}