.home {
	position: absolute;
	font-size: 25px;
	left: 100px;
	color: red;
}

.btn.quiz {
	position: absolute;
	width: 100%;
	max-width: 120px;
	top: 120px;
	left: 200px;
	padding: 15px 10px;
	display: inline-block;
	text-align: center;
	letter-spacing: 0.1em;
	color: #fff;
	background-color: #ed576c;
	border: #ed576c;
	border-bottom: 4px solid #b44252;
	border-radius: 20px;
	font-weight: bold;
}

.quizEx {
	position: absolute;
	top: 170px;
	left: 75px;
	font-weight: bold;
}

.btn.ranking {
	position: absolute;
	width: 100%;
	max-width: 120px;
	top: 250px;
	left: 200px;
	padding: 15px 10px;
	display: inline-block;
	text-align: center;
	letter-spacing: 0.1em;
	color: #fff;
	background-color: #eb45eb;
	border: #eb45eb;
	border-bottom: 4px solid #b635b6;
	border-radius: 20px;
	font-weight: bold;
}

.rankEx {
	position: absolute;
	top: 300px;
	left: 110px;
	font-weight: bold;
}

.btn.history {
	position: absolute;
	width: 100%;
	max-width: 120px;
	max-width: 120px;
	top: 380px;
	left: 200px;
	padding: 15px 10px;
	display: inline-block;
	text-align: center;
	letter-spacing: 0.1em;
	color: #fff;
	background-color: #577aed;
	border: #577aed;
	border-bottom: 4px solid rgb(65, 82, 179);
	border-radius: 20px;
	font-weight: bold;
}

.hisEx {
	position: absolute;
	top: 430px;
	left: 140px;
	font-weight: bold;
}

.btn.profile {
	position: absolute;
	width: 100%;
	max-width: 120px;
	top: 510px;
	left: 200px;
	padding: 15px 10px;
	display: inline-block;
	text-align: center;
	letter-spacing: 0.1em;
	color: #fff;
	background-color: #39e439;
	border: #39e439;
	border-bottom: 4px solid rgb(27, 187, 61);
	border-radius: 20px;
	font-weight: bold;
}

.proEx {
	position: absolute;
	top: 560px;
	left: 155px;
	font-weight: bold;
}

.radarCategory {
	position: absolute;
	top: 105px;
	right: 220px;
	font-size: 20px;

}

.radarContent {
	position: absolute;
	top: 70px;
	right: 420px;
	font-size: 30px;
	color: red;


}

.wrapper {
	position: absolute;
	width: 500px;
	height: 350px;
	top: 150px;
	right: 200px;
	overflow-y: scroll;
	opacity: 1;

}

.radar {

	text-align: center;
}

/*
body{
	background-Color: #d0feff;
}
	background-color: #d0feff;
}*/
